* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;

}

.body {
  position: relative;
}

header {
  width: 1300px;
  margin: 0 auto;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid #D9D9D9;
  .header_btn {
    width: 82px;
    height: 32px;
    background: #EAEAF9;
    border-radius: 10px;
    border: none;
    color: #7000FF;
    transition: .6s;
  }

  .header_btn:hover {
    background: #7000FF;
    color: #EAEAF9;
  }

  .input_box {
    position: relative;
    display: inline-block;
  }

  input {
    width: 550px;
    height: 42px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #E2EAF1;


  }

  .search {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%) translateX(-50%);
  }

  input:active {
    color: #7000FF;
  }


  .menu {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      text-decoration: none;
      color: black;
      transition: .5s;
      padding: 3px;
      cursor: pointer;
    }

    a:hover {
      border-radius: 10px;
      background: #EAEAF9;

      color: #7000FF;

    }

    .user_data {
      display: flex;
      gap: 5px;
      cursor: pointer;
    }

    .deleted {
      display: flex;
      align-items: center;
      gap: 2px;

      .deleted_count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 19px;
        height: 20px;
        background: #7000FF;
        color: white;
        border-radius: 5px;

      }
    }

  }

}

.header_btn {
  padding: 8px;
  height: 32px;
  background: #EAEAF9;
  border-radius: 5px;
  border: none;
  color: #7000FF;
  transition: .6s;
}

.header_btn:hover {
  background: #7000FF;
  color: #EAEAF9;
}


.catalog {
  position: absolute;
  /* Располагаем окно под кнопкой "Каталог":
     - top указывает отступ сверху
     - left можно подобрать под нужное смещение */
  top: 10%; 
  left: 10%;

  /* Примерные размеры, как в скриншоте ~342×338 */
  width: 342px;
  min-height: 338px;

  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  /* Добавляем внутренние отступы и расстояние между элементами */
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* Поверх всего остального контента */
  z-index: 999;
}

/* Стили backdrop диалога */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

/* Заголовок диалога (подпись "Категории товаров") */
.catalog p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* Кнопка закрытия (X) */
.catalog .exit {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 14px;
  transition: .4s;
  cursor: pointer;
  font-weight: 600;
}
.catalog .exit:hover {
  color: red;
}

/* Контейнер для списка категорий */
.catalog .container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Оформление категории */
.catalog .category {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Отступы и фон */
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  background: #f5f5f5;
  transition: background 0.3s;
}
.catalog .category:hover {
  background: #e0e0e0;
}

/* Название категории */
.catalog .category h1 {
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}

/* Количество товаров */
.catalog .category h2 {
  font-size: 12px;
  font-weight: 500;
  background: #7000FF;
  color: white;
  padding: 3px 8px;
  border-radius: 4px;
}
.search_suggestions {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  display: none; 
}
.search_suggestions p {
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
}
.search_suggestions p:hover {
  background-color: #f5f5f5;
}


.hero-slider {
  width: 1250px;
  margin: 0 auto;
  padding-top: 10px;
}

.slider-container {
  position: relative;
  height: 474px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 84px;
}

.slider__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.slider__item {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.slider__item h2 {
  font-size: 55px;
}

.slider__item:nth-child(1) {
  background-image: url(https://images.uzum.uz/cupkqtk5j42bjc4etbjg/main_page_banner.jpg);
}

.slider__item:nth-child(2) {
  background-image: url(https://images.uzum.uz/cupkpkk5j42bjc4etav0/main_page_banner.jpg);
}

.slider__item:nth-child(3) {
  background-image: url(https://images.uzum.uz/cule2v6i4n324lr9f34g/main_page_banner.jpg);
}

.slider__item:nth-child(4) {
  background-image: url(https://images.uzum.uz/cug7q9tht56sc95cis1g/main_page_banner.jpg);
}

.slider__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.slider__control--prev {
  left: 10px;
}

.slider__control--next {
  right: 10px;
}

.slider__dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.slider__dot {
  width: 10px;
  height: 10px;
  background-color: rgba(179, 179, 179, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider__dot--active {
  background-color: white;
}


.popular {
  width: 1200px;
  margin: 0 auto 30px;
  text-align: center;

  h1 {

    font-size: 32px;
    font-weight: 600;
    line-height: 39.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    margin: 74px 21px;
  }

  .products_container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 30px;
    gap: 35px;

    .product {
      width: 220px;
      transition: .5s;
      overflow: hidden;
      padding: 5px;
      cursor: pointer;


      .product_img {
        width: 220px;
        height: 300px;
        position: relative;
        margin-bottom: 10px;
        transition: .5s;
        overflow: visible;
      }


      .save {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: .3s;
      }

      .save:hover {
        transform: scale(1.1);
      }

      .save:active {
        transform: translateY(-2mm);
      }

      .p_name {
        height: 45px;
      }

      p {

        font-size: 14px;
        font-weight: 500;
        line-height: 16.98px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 5px;
      }

      .rating_place {
        height: 40px;
        display: flex;

        align-items: center;

        img {
          width: 10px;
          height: 10px;
        }

        h1 {
          font-size: 15px;
        }
      }

      .product_footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;

        .original {

          font-size: 12px;
          font-weight: 500;
          line-height: 14.56px;
          text-align: left;
          text-decoration-line: line-through;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #ACACAC;
        }


        .sale {

          font-size: 14px;
          font-weight: 500;
          line-height: 16.98px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

        }

        .purchaseIcon {
          transition: .5s;
          border-radius: 50%;
          cursor: pointer;

        }

        .purchaseIcon:hover {
          transform: rotate(360deg);




        }

        .purchaseIcon:active {
          transform: translateY(-3mm);
        }
      }
    }

    .product:hover {
      transform: scale(1.03);
      border-radius: 10px;
      border: 1px solid #7000FF;
      box-shadow: 0px 0px 3px 1px #7000FF;
    }




  }
}

.active {
  border-radius: 10px;
  border: 2px solid #7000FF;

}

.empty_page {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.important {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 15px;
}

.main_data {
  width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);

  gap: 40px;

  .frames {
      display: flex;
      gap: 10px;

      .column {
        height: auto;
        display: flex;
        gap: 5px;
        flex-direction: column;
        flex-wrap: nowrap;

        overflow-y: hidden;
          img{
              width: 83px;
              height: auto;
          }

      }

      .main_frame {
        text-align: center;
        display: flex;
        justify-content: center;
        position: relative;
          img {
              width: 400px;
              height: auro;
              
          }

      }

      .right_arrow {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          transition: .4s;

          img {
              width: 24px;
              height: 24px;
          }
      }

      .left_arrow {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          transition: .5s;

          img {
              width: 24px;
              height: 24px;
          }
      }


  }

  .data {
      padding: 35px 45px 0 0 ;
      display: flex;
      flex-direction: column;
    
      .price {
          display: flex;
          gap: 10px;
          align-items: center;
          margin: 20px 0;

          h1 {

              font-size: 28px;
              font-weight: 600;
              line-height: 39.2px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;

          }

          h2 {

              font-size: 24px;
              font-weight: 600;
              line-height: 34.3px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;

          }

          .original {
              font-size: 21px;
              font-weight: 500;
              line-height: 25.47px;
              text-align: left;
              text-decoration-line: line-through;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: #ACACAC;
          }
      }

     
      p {
          margin: 20px 0;
          width: 500px;
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

      }

      .action_btns {
          display: flex;
          gap: 15px;

          button {
              width: 176px;
              height: auto;
            padding: 5px 0px ;
              font-size: 13px;
              font-weight: 400;
              line-height: 19px;

              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              border: none;
              transition: .4s;
              border-radius: 4px;
          }
          .save,
          .purchase {
              background-color: transparent;
              color: #7000FF;
              border: 1px solid #7000FF;
              transition: .4s;
          }

          .purchase:hover,
          .save:hover{
              background-color: #7000FF;
              color: white;
          }
         

      }
  }

}
.counter {
  width: 89px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ACACAC;
  border-radius: 5px;
  align-items: center;
  padding: 7px;
  margin-bottom: 25px;
}


.minus,
.plus {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .2s;
}

.minus:active,
.plus:active {
  border-radius: 50px;
  background-color: #ACACAC;
  text-shadow: 1px 2px 2px black;
}


.description {
  width: 793px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
      margin: 0px 0 20px;
      font-size: 21px;
      font-weight: 500;
      line-height: 25.47px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

  }

  p {

      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

  }
}

.cart {
  width: 1200px;
  margin: 0 auto 30px;
  text-align: left;

  h3 {

    font-weight: 600;
    font-size: 32px;
    line-height: 39.2px;
    letter-spacing: 0%;

    margin: 50px 0 31px;
  }

  .cart_body {
    display: flex;
    gap: 10px;
    position: relative;
    .cart_container {
      padding: 20px 10px;
      width: 806px;
      border: 1px solid #D9D9D9;
      border-radius: 10px;
      display: flex;
     
      flex-direction: column;

      .cart_product {
        padding: 7px;
        cursor: pointer;
        display: flex;
        gap: 19px;
        transition: .3s;
        border-radius: 10px;

        img {
          width: 133px;
          height: 177px;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;



          h1 {
            
            font-weight: 400;
            font-size: 18px;
            line-height: 24.26px;
            letter-spacing: 0%;

          }

          p {

            font-weight: 700;
            font-size: 16px;
            line-height: 19.81px;
            letter-spacing: 0%;

          }

          .delete_btn {
            width: 83px;
            height: 32px;
            padding: 8px;
            height: 32px;
            background: #EAEAF9;
            border-radius: 5px;
            border: none;
            color: #7000FF;
            transition: .6s;
          }

          .delete_btn:hover {
            background: #7000FF;
            color: #EAEAF9;
          }
        }

      }
      .cart_product:hover{
        border: 1px solid #7000FF;
      box-shadow: 0px 0px 2px 1px #7000FF;
      }
    }

    .cart_info {
      position: sticky;
      top: 80px;
      right: 1px;
      width: 394px;
      height: 245px;
      border: 1px solid #D9D9D9;
      padding: 43px 20px 0;
      border-radius: 10px;
      display: flex;
      gap: 10px;
      flex-direction: column;

      .final_price {
        font-weight: 500;
        font-size: 25px;
        line-height: 49px;
        letter-spacing: 0%;

      }

      .total {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 19.41px;
          letter-spacing: 0%;
        }
      }
      .arrange_btn{
        height: 32px;
        background: #7000FF;
        border-radius: 5px;
        border: none;
        color: #EAEAF9;
        transition: .6s;
      }
      .arrange_btn:hover{
        color: #7000FF;
        background: #EAEAF9;
      }
    }


  }
}



@media (max-width: 1300px) {
  header {
    width: auto;
    padding: 15px 10px;
  
    justify-content: space-between;
    .header_btn{
      margin: 0 20px;
      
    }
    .menu{
      max-width: auto;
      gap: 2px;
    }
  }
  header .input_box input {
    width: 425px;
  }
  .search{
    right: 90%;
  }
  
  .hero-slider {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
  }
  .slider-container {
    height: 450px;
  }
  .slider__item h2 {
    font-size: 50px;
  }

  .popular{
    width: auto;
   
   
       .products_container{
      width: auto;
         gap: 10px;
         padding: 0 50px 0 70px; 
        
         .product{
         width: auto;
         .product_img{
          width: auto;
         }
         }
       }
     }


     .main_data{
      width: auto;
      padding: 0 10px;
      .data{
  
    
        p{
          width: auto;
        
      }
      
      }
     }




  .cart{
    max-width: 1200px;
    width: auto;
    .cart_container{
      max-width: 706px;

    }
    .cart_info{
      max-width: 394px;
    }
  }
}

/* Для экранов до 1024px (планшеты, небольшие ноутбуки) */
@media (max-width: 1024px) {
  header {
    max-width: 990px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: auto;
   justify-content: center;
    padding: 15px 20px;
  }
  /* Меняем порядок элементов */
 
  header .input_box {
    width: 100%;
  }
  header .input_box input {
    width: 100%;
    max-width: 450px;
    height: 40px;
    position: relative;
  }
  header .menu {
   justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
  }
  header .header_btn {
    text-align: center;
    width: 100%;
    max-width: 150px;
    text-align: center;
    margin-left: 10px;
  }
  .search{
 display: none;
 
  }

  .hero-slider {
    max-width: 990px;
    padding: 10px;
  }
  .slider-container {
    height: 400px;
  }
  .slider__item h2 {
    font-size: 45px;
  }

  .popular{
 width: auto;


    .products_container{
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      padding: 0 50px 0 70px; 
     
      .product{

        width: auto;
        p{
          font-size: 12px;
        }
        h1{
          font-size: 13px;
        }
      }
    }
  }

  .important {
    max-width: 990px;
    margin: 20px auto;
    padding: 0  0 0 150px;
  } 
  .main_data {
    width: 100%;
    margin: 10px auto;
    
    display: block;
  }
  .frames {
    margin-bottom: 20px;
  }
  .frames .main_frame img {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
  .frames .column img {
    width: 70px;
    height: 95px;
  }
  .data {
    max-width: 100%;
    padding: 20px 10px 0;
  }
  .right_arrow{
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-40%);
  }
  .left_arrow{
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
  }
  .data p {
    width: 100%;
    font-size: 14px;
  }
  .important,
  .main_data,
  .data {
    text-align: center;
  }
  .description{
   width: auto;
  }




  .cart{
    max-width: 990px;
    .cart_container{
      width: 600px;

    }
    .cart_info{
      width: 250px;
      padding: 10px 0;

    }
  }

}

/* Для экранов до 768px (мобильные, маленькие планшеты) */
@media (max-width: 768px) {
  header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    padding: 10px 10px;
  }
  header .input_box input {
    width: 100%;
    max-width: 350px;
    height: 36px;
    font-size: 14px;
  }
  header .header_btn {
    width: 100%;
    max-width: 100px;
    margin-left: 5px;
    text-align: center;
  }
  header .menu {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  header a img {
    max-width: 150px;
  }

  .hero-slider {
    max-width: 100%;
    padding: 5px;
  }
  .slider-container {
    height: 350px;
  }
  .slider__item h2 {
    font-size: 35px;
  }
  .slider__control {
    padding: 8px 15px;
  }

  .popular{
    width: auto;
   
   
       .products_container{
         grid-template-columns: repeat(3, 1fr);
         gap: 15px;
         padding: 0 50px 0 70px; 
        
         .product{
          width: 200px ;
          
          .product_img{
            width: 200px;
          }
          p{
            font-size: 12px;
          }
          .save{
           top: 20px;
           right: 35px;
          }
         }
       }
     }

     .frames{
      display: flex;
      gap: 0;
      .main_frame img{
        width: auto;
       }
     }

     .cart{
      max-width: 700px;
      .cart_body{
        flex-direction: column;
      }
      .cart_container{
        max-width: 650px;
        margin: 0 auto;
      }
      .cart_info{
        position: fixed;
        
        width: 250px;
        padding: 10px 0;
        margin: 0 auto;
      }
    }
     
}
@media (max-width: 680px) {
  header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    padding: 10px 10px;
  }
  header .input_box input {
    width: 100%;
    max-width: 350px;
    height: 36px;
    font-size: 14px;
  }
  header .header_btn {
    width: 100%;
    max-width: 100px;
    margin-left: 5px;
    text-align: center;
  }
  header .menu {
    display: flex;
    align-items: center;
    gap: 5px;
  }
 
  header a img {
    max-width: 150px;
  }
  .popular{
    width: auto;
   
   
       .products_container{
         grid-template-columns: repeat(2, 1fr);
         gap: 15px;
         padding: 0 50px 0 70px; 
        
         .product{
          width: 200px ;
          
          .product_img{
            width: 200px;
          }
          p{
            font-size: 12px;
          }
          .save{
           top: 20px;
           right: 35px;
          }
         }
       }
     }
     .hero-slider {
      max-width: 100%;
      padding: 0;
    }
    .slider-container {
      height: 300px;
    }
    .slider__item h2 {
      font-size: 30px;
    }
    .slider__control {
      padding: 6px 12px;
    }
    .slider__dots {
      bottom: 5px;
    }
    .slider__dot {
      width: 8px;
      height: 8px;
    }


     .important{
      padding: 0 0 0 40px;
     }

     .main_data {
      width: auto;
      margin: 10px auto;
     
      .frames{
        
        flex-direction: column;
        gap: 10px;
        max-width: 550px;
        .main_frame img{
          width: 300px;
        }
        .column {
          width: auto;
          display: grid ;
          grid-template-columns: repeat(5,1fr); 
          gap: 5px;
        }
        .right_arrow img,
        .left_arrow img {
          width: 24px;
          height: 24px;
        }
       
      }
     
    }

    .empty_page{
      width: 300px;
    }
     
    .cart{
      max-width: 600px;
      .cart_body{
        flex-direction: column;
      }
      .cart_container{
        max-width: 500px;
        margin: 0 auto;
       
        
      }
      .cart_info{
        position: fixed;
        
        width: 250px;
        padding: 10px 0;
        margin: 0 auto;
      }
    }
    .cart .cart_container .cart_product h1 {
      font-size: 14px !important;
    }
    
}

/* Для экранов до 480px (очень маленькие устройства) */
@media (max-width: 480px) {
  header {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
   
    padding: 8px 5px;
  }
  header .input_box input {
    max-width: 250px;
    font-size: 12px;
  }
  header .header_btn {
    width: 100%;
    max-width: 130px;
    font-size: 12px;
  }
  header .menu a {
    font-size: 12px;
  }
  header .menu .deleted .deleted_count {
    width: 16px;
    height: 16px;
    font-size: 10px;
  }
  header .menu {
    gap: 5px;
  }
  .popular{
    width: auto;
   
   
       .products_container{
         grid-template-columns: repeat(2, 1fr);
         gap: 15px;
         padding: 0 50px 0 70px; 
        
         .product{
          width: 190px ;
         
          
          .product_img{
            width: 190px;
          }
          p{
            font-size: 10px;
          }
          .save{
           top: 20px;
           right: 35px;
          }
         }
       }
     }
     .important{
      .action_btns{
        
        button{
          height: auto;
          font-size: 12px;
        }
       }
     }

     
     .cart {
      max-width: 450px;
      width: 100%;
      margin: 0 auto;
      padding: 0 10px;
    }
    
    .cart .cart_body {
      flex-direction: column;
    }
    
    .cart .cart_container {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
     
    }
    
    .cart .cart_container .cart_product {
      padding: 0 10px;
    }
    
    .cart .cart_container .cart_product h1 {
      font-size: 12px !important;
    }
    
    .cart .cart_container .cart_product p {
      font-size: 14px !important;
    }
    
    .cart .cart_info {
     
      width: 250px;
      max-width: 90%;
      padding: 10px 0;
      margin: 0 auto;
      background: white;     
      border: 1px solid #D9D9D9;
      border-radius: 10px 10px 0 0;
      z-index: 10;
    }


}